@import url(https://fonts.bunny.net/css?family=plus-jakarta-sans:500,700|roboto:400,700);

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: hsl(0, 0%, 100%);
  --lime: hsl(61, 70%, 52%);
  --red: hsl(4, 69%, 50%);
  --slate-100: hsl(202, 86%, 94%);
  --slate-300: hsl(203, 41%, 72%);
  --slate-500: hsl(200, 26%, 54%);
  --slate-700: hsl(200, 24%, 40%);
  --slate-900: hsl(202, 55%, 16%);
  --black: hsl(201, 63%, 12%);

  --input-border-radius: 0.25rem;
  --input-background: hsl(61, 70%, 52%, 0.1);

  --font-family-sans-serif: 'Plus Jakarta Sans', sans-serif;
}

body {
  font-family: var(--font-family-sans-serif);
  font-size: 100%;
  font-weight: 500;
  background-color: var(--slate-100);
  color: var(--slate-900);
}

main {
  min-height: 100vh;
}

p {
  line-height: 1.5;
}

fieldset {
  border: 0;
}

input {
  font-family: var(--font-family-sans-serif);
  width: 100%;
  font-size: 100%;
  font-weight: 700;
  color: var(--slate-900);
  border-radius: var(--input-border-radius);
  border: 0.1rem solid var(--slate-700);
}

label {
  color: var(--slate-700);
}

legend {
  color: var(--slate-700);
}

.attribution {
  padding: 1rem 0.5rem;
  font-size: 0.8rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (width >=1024px) {
  main {
    display: grid;
    place-items: center;
  }
}